.schedule {
    background-color: white;
    height: auto;
    max-width: 950px;
    margin: 50px auto;
    padding-bottom: 25px;
    box-shadow: 0px 0px 10px -5px grey;
    transition: all .2s ease-out;
    transform: scale(1);
    overflow: hidden;

    &.toggle {
        height: 50px;

        .header {
            border-color: transparent;
        }
    }

    &.toggle-up {
        opacity: 0.5;
        transform: scale(0.9);
    }

    .header {
        float: left;
        height: 60px;
        width: calc(100% - 50px);
        border-bottom: 4px solid rgba(0,0,0,.1);
        font-family: 'Comfortaa', cursive;
        margin: 15px 25px 0 25px;
        overflow: visible;

        a {
            color: inherit;
        }

        img.dropdown, img.print {
            opacity: .5;
            float: left;
            width: 25px;
            height: 25px;
            padding: 0 10px;
            display: block;
            transition: transform .3s ease-out;
            transform: translateY(-35px) translateX(15px) rotate(0deg);

            &.dropdown {
                transform: translateY(-25px) translateX(15px) rotate(0deg);
            }

            &.toggle {
                transform: translateY(-30px) translateX(15px) rotate(180deg);
            }

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }

        .header-title {
            float: left;
            text-align: left;
            width: 50%;
            
            h1 {
                opacity: .7;
                margin: 0;
                font-size: 30px;
                margin-top: 10px;
                cursor: pointer;

                span {
                    position: absolute;
    
                    img {
                        opacity: 0;
                        height: 25px;
                        width: 25px;
                        transform: rotate(-90deg) translateY(10px);
                        margin: 4px 10px;
                        transition: .2s ease-out;
                    }
    
                }

                &:hover {
                    opacity: 1;

                    span {

                        img {
                            opacity: 1;
                            transform: rotate(-90deg) translateY(0px);
                        }
                    }
                }
            }

        }

        .header-panel {
            float: left;
            width: calc(50% - 50px);
            height: 30px;
            text-align: right;
            color: rgba(0,0,0,.5);

            h4 {
                margin: 0;
                font-size: 14px;
                cursor: pointer;

                &:hover {
                    color: rgba(0,0,0,.7);
                }
            }

        }
    }

    .content {
        width: 100%;
        overflow: hidden;

        &.left {
            float: left;
            margin-left: 25px;
            width: calc((100% - 70px) - 50px);
        }
    }

    .time-bar {
        float: left;
        width: 70px;
        height: calc((100% - 100px));
        border-radius: 0 0 15px 15px;
        display: block;
        margin: 0 25px 0 0;
        background-color: rgba(0,0,0,.05);
        text-align: center;
    }

    &.life {
        font-family: 'Comfortaa', cursive;

        .divider {
            float: left;
            display: block;
            height: 10px;
            width: calc(100% - 30px);
            border-radius: 20px 0 0 20px;
            margin: 0 0 20px 30px;

            &.treasures {
                background-color: #5a6a70;
            }

            &.apply {
                background-color: #c18626;
            }

            &.living {
                background-color: #961526;
                margin-bottom: 0;
            }
        }

        .assignment {

            h3 {
                font-size: 14px;
                color: rgba(0,0,0,.5);
                margin-bottom: 0;
                cursor: default;

                &.song {
                    color: rgba(0,0,0,.8);
                    background-color: rgba(0,0,0,.1);
                    display: inline-block;
                    padding: 5px;

                    b {
                        font-weight: 600;
                        color: black;
                        padding: 10px;
                        background-color: white;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            h1 {
                margin-top: 5px;
                margin-bottom: 2px;
                font-size: 18px;
                max-width: calc(60% - 30px);
                transform: translateX(30px);
                border-bottom: 2px solid rgba(0,0,0,.1);
                cursor: pointer;

                small {
                    font-size: 12px;
                    margin-right: 5px;
                    color: rgba(0,0,0,.5);
                }

                &:last-child {
                    margin-bottom: 20px;
                    max-width: calc(60% - 60px);
                    transform: translateX(60px);
                }
            }

        }

    }
}

// iPad -> Portrait
@media screen and (max-width: 1024px) and (orientation: portrait) {

    .schedule {
        margin: 25px auto;
        max-width: calc(100% - 50px);
    }
    
}

// iPhone
@media screen and (max-width: 414px) and (orientation: portrait) {

    .schedule {
        margin: 0;
        max-width: 100%;

        .header {
            width: calc(100% - 50px);
            margin: 10px 10px 10px 10px;
            padding-left: 10px;
            border: none;
            border-left: 4px solid rgba(0,0,0,.1);

            img {
                display: none;
            }

            .header-title {
                width: 100%;

                h1 {
                    font-size: 20px;
                }
            }

            .header-panel {
                height: 10px;;
                width: 100%;
                margin: 2.5px 0;

                h4 {
                    text-align: left;
                    font-size: 12px;
                }
            }

        }

        .time-bar {
            display: none;
        }

        .content {
            
            &.left {
                width: calc(100% - 20px);
                margin-left: 10px;
            }
        }

        &.life {

            .divider {
                width: 100%;
                margin: 0 0 20px 0;
                border-radius: 0;
            }

        }
    }

}