
<form class="login">

    {{!-- Icon --}}
    <img class="logo" src="http://mykhinfo.com/img/logo/2018/Logo-2018-500x500-Trans.png" alt="">

    {{!-- Title --}}
    <h1>Guest Login</h1>
    <h3>{{ congregation }}</h3>

    {{!-- Login Form --}}
    {{ input type="text" placeholder="passcode..." key-up=(action "updatePin") }}

    {{!-- Login Button --}}
    <button {{ action "login" }} class="loginBtn" type="submit"> Login</button>

    {{!-- Loading Spinner --}}
    <img src="https://png.icons8.com/ios-glyphs/60/000000/reboot.png" alt="Loading Icon" class="loading">

</form>